@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
$primfont: 'Bree Serif';
$bgcolor: rgb(189, 189, 189);
$reddish: #AA3A45;
$lightblue: #3685B5;
$darkblue: #061826;
$midblue: #0471A6;
$grayish: #4D4847;
$codegray: #2A2C35;
$codegreen: #7AA084;


body {
	background-color: $bgcolor !important;
	color:rgb(27, 68, 143) !important;
	font-family: $primfont !important;
}


.light-container {
	text-align:center;

	.power-icon {
		font-size:48px;
	}

	.light-label {
		font-weight:bold;
		font-size:30px;
	}

	.light-product {
		font-size:20px;
	}
}
