@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
$primfont: 'Bree Serif';
$bgcolor: rgb(189, 189, 189);
$reddish: #AA3A45;
$lightblue: #3685B5;
$darkblue: #061826;
$midblue: #0471A6;
$grayish: #4D4847;
$codegray: #2A2C35;
$codegreen: #7AA084;

.row {
	margin:0px !important;
	padding:0px !important;
}


body {
	background-color: $bgcolor !important;
	color:rgb(27, 68, 143) !important;
	font-family: $primfont !important;
}

header {
	margin:0px !important;
	width:100% !important;
	background-color:rgb(25, 47, 68);
	border-bottom: 2px solid black;
}

.container-fluid {
	margin:0px !important;
	padding:0px !important;

}

.header-text {

	color:white;
	font-size:24px;
	padding:25px 10px 0px 10px;
}

.normal-weight {
	font-weight: normal;
}

.bold-weight {
	font-weight:bold;
}

.light-container {
	text-align:center;

	.power-icon {
		font-size:48px;
	}

	.light-label {
		font-weight:bold;
		font-size:30px;
	}

	.light-product {
		font-size:20px;
	}

	.light-status {

		.light-status-connected {
			font-weight:bold;
			color:green;
		}

		.light-status-offline {
			font-weight:bold;
			color:red;
		}

	}
}
